.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: #ffffff;
}

.App-title {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
}

.White-key {
  height: 30vh;
  width: 6vw;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
}

.White-key:active {
  background-color: #e0e0e0;
}

.Black-key {
  height: 21vh;
  width: 3.6vw;
  border: 2px solid #000000;
  background-color: #000000;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.C-sharp {
  left: 3.6vw;
}

.D-sharp {
  left: 10.8vw;
}

.F-sharp {
  left:21.2vw;
}

.G-sharp {
  left:28.2vw;
}

.A-sharp {
  left:35.2vw;
}

.Black-key:active {
  background-color: #404040;
}

.Synth {
  margin: 20px;
}

.Octave {
  position: relative;
  display: inline-block;
}
