.White-key {
  height: 30vh;
  width: 6vw;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
}

.White-key:active, .White-key.Active {
  background-color: #e0e0e0;
}

.Black-key {
  height: 21vh;
  width: 3.6vw;
  border: 2px solid #000000;
  background-color: #000000;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.Black-key:active,  .Black-key.Active {
  background-color: #404040;
}

.C-sharp {
  left: 3.6vw;
}

.D-sharp {
  left: 10.8vw;
}

.F-sharp {
  left:21.2vw;
}

.G-sharp {
  left:28.2vw;
}

.A-sharp {
  left:35.2vw;
}

.Octave {
  position: relative;
  display: inline-block;
}
